.CardsContainer {
  display: grid;
  gap: 16px;
  padding: 1rem 1.6rem;
}

/* Responsive grid for the cards */
.cards-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.pillar-media {
  display: grid;
  place-items: center;
  aspect-ratio: 16/9;
  background: #f1f5f9;
  overflow: hidden;
}

/* Logos/símbolos*/
.pillar-img {
  max-width: 102%;
  max-height: 102%;
  object-fit: contain;
}

/* Optional tweaks for the card */
.pillar-card {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.pillar-card:hover {
  transform: scale(1.2);
}

.pillar-card a {
  text-decoration: none;
  color: #000;
}