.AppHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-bottom: 1px solid #a8a8d3;
  background: #bcbcda;
}

.AppHeader__left {
  justify-self: start;
  cursor: pointer;
}

.AppHeader__center {
  justify-self: center;
}

.AppHeader__right {
  justify-self: end;
}
