.AppHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  background: linear-gradient(180deg, var(--card-contrast) 0%, transparent 100%);
}

.AppHeader__left {
  justify-self: start;
}

.AppHeader__center {
  justify-self: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.AppHeader__center:hover {
  transform: scale(1.2);
}

.AppHeader__right {
  justify-self: end;
}
